In [25]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key
%matplotlib inline

In [26]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,0,Provideniya,64.3833,-173.3000,37.51,65,90,17.90,RU,2021-09-29 21:37:22
1,1,Te Anau,-45.4167,167.7167,44.31,70,74,1.81,NZ,2021-09-29 21:38:52
2,2,Butaritari,3.0707,172.7902,81.64,79,98,17.20,KI,2021-09-29 21:37:17
3,3,Sehithwa,-20.4667,22.7167,77.34,19,5,4.59,BW,2021-09-29 21:38:52
4,4,Souillac,-20.5167,57.5167,71.98,83,40,10.36,MU,2021-09-29 21:37:03

In [27]:
city_data_df.dtypes

City_ID         int64
City           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
Country        object
Date           object
dtype: object

In [28]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [29]:
# Assign the locations to an array of latitude and longitude pairs.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]

# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [32]:
# Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip?

ValueError: could not convert string to float:

In [34]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Butaritari,3.0707,172.7902,81.64,79,98,17.20,KI,2021-09-29 21:37:17
3,3,Sehithwa,-20.4667,22.7167,77.34,19,5,4.59,BW,2021-09-29 21:38:52
6,6,Atuona,-9.8000,-139.0333,78.08,75,46,19.69,PF,2021-09-29 21:34:31
14,14,Loandjili,-4.7561,11.8578,78.91,83,75,8.05,CG,2021-09-29 21:38:54
27,27,Kuching,1.5500,110.3333,75.42,100,40,2.30,MY,2021-09-29 21:36:56
29,29,San Patricio,28.0170,-97.5169,86.72,59,13,12.86,US,2021-09-29 21:36:49
31,31,Georgetown,5.4112,100.3354,77.90,93,20,3.00,MY,2021-09-29 21:37:09
33,33,Kapaa,22.0752,-159.3190,82.72,68,40,3.00,US,2021-09-29 21:34:43
37,37,Marrakesh,31.6315,-8.0083,82.47,47,75,3.44,MA,2021-09-29 21:38:57
39,39,Vaini,-21.2000,-175.2000,77.16,83,75,10.36,TO,2021-09-29 21:37:00

In [35]:
preferred_cities_df.count()

City_ID       184
City          184
Lat           184
Lng           184
Max Temp      184
Humidity      184
Cloudiness    184
Wind Speed    184
Country       184
Date          184
dtype: int64

In [36]:
preferred_cities_df.dropna()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
2,2,Butaritari,3.0707,172.7902,81.64,79,98,17.20,KI,2021-09-29 21:37:17
3,3,Sehithwa,-20.4667,22.7167,77.34,19,5,4.59,BW,2021-09-29 21:38:52
6,6,Atuona,-9.8000,-139.0333,78.08,75,46,19.69,PF,2021-09-29 21:34:31
14,14,Loandjili,-4.7561,11.8578,78.91,83,75,8.05,CG,2021-09-29 21:38:54
27,27,Kuching,1.5500,110.3333,75.42,100,40,2.30,MY,2021-09-29 21:36:56
...,...,...,...,...,...,...,...,...,...,...
550,550,Vaitape,-16.5167,-151.7500,79.27,70,17,18.86,PF,2021-09-29 21:41:23
552,552,La Asuncion,11.0333,-63.8628,96.53,49,38,6.91,VE,2021-09-29 21:41:24
554,554,Camargo,27.6667,-105.1667,84.56,17,0,5.17,MX,2021-09-29 21:41:24
555,555,Los Pozos,8.4518,-62.7268,93.04,61,100,5.70,VE,2021-09-29 21:41:24
557,557,Olinda,-8.0089,-34.8553,80.33,78,40,10.36,BR,2021-09-29 21:37:31

In [37]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

            City Country  Max Temp      Lat       Lng Hotel Name
2     Butaritari      KI     81.64   3.0707  172.7902
3       Sehithwa      BW     77.34 -20.4667   22.7167
6         Atuona      PF     78.08  -9.8000 -139.0333
14     Loandjili      CG     78.91  -4.7561   11.8578
27       Kuching      MY     75.42   1.5500  110.3333
..           ...     ...       ...      ...       ...        ...
550      Vaitape      PF     79.27 -16.5167 -151.7500
552  La Asuncion      VE     96.53  11.0333  -63.8628
554      Camargo      MX     84.56  27.6667 -105.1667
555    Los Pozos      VE     93.04   8.4518  -62.7268
557       Olinda      BR     80.33  -8.0089  -34.8553

[184 rows x 6 columns]

In [38]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [39]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotel = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotel["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")
hotel_df

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Butaritari,KI,81.64,3.0707,172.7902,Isles Sunset Lodge
3,Sehithwa,BW,77.34,-20.4667,22.7167,MONLEK GUEST HOUSE
6,Atuona,PF,78.08,-9.8000,-139.0333,Villa Enata
14,Loandjili,CG,78.91,-4.7561,11.8578,Résidence ARCHANGE
27,Kuching,MY,75.42,1.5500,110.3333,The Ranee Boutique Suites
...,...,...,...,...,...,...
550,Vaitape,PF,79.27,-16.5167,-151.7500,Conrad Bora Bora Nui
552,La Asuncion,VE,96.53,11.0333,-63.8628,Colinas de Matasiete
554,Camargo,MX,84.56,27.6667,-105.1667,Hotel Santa Fe
555,Los Pozos,VE,93.04,8.4518,-62.7268,
557,Olinda,BR,80.33,-8.0089,-34.8553,Hotel Albergue de Olinda

In [42]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [43]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))